
.modal{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
    background-color: gray;
}
.modal-content{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  background-color:snow;
  width: 30%;
 

}

.input{
  height: 30px;
  width: 80%;
  border-radius: 5px;
  border-style:double;
  
  
}

.modal-content div{
  padding: 15px;
}
.modal-content label{
  font-weight: 800;
}

.submit-button{
  background-color: rgb(54, 173, 252);
  height: 40px;
  width: 20%;
  border-radius: 10px;
  border: 0;
  color: white;
  font-weight: 500;
}




.xyz{
  background-color:gray;
  z-index: 10px;
 
}













